.statistics_section {
  width: 280px;
  margin: 0 auto;
  border: 1px solid;
  border-color: #000;
  border-radius: 4px;
  margin-bottom: 4px;
}
.statics_title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.stat_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
  padding: 6px;
}
.item_label {
  margin-bottom: 10px;
}
.item_percentage {
  font-size: 22px;
}
