.transition:nth-child(2n) {
  background-color: rgb(228, 228, 228);
}
.transition:nth-child(2n + 1) {
  background-color: rgb(56, 171, 248);
}
.transition_item {
  padding: 6px;
}
.transition_item:not(:last-child) {
  border-right: 1px solid;
  border-right-color: aqua;
}
