.transaction_history {
  width: 768px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid;
  border-color: aquamarine;
  border-radius: 3px;
  border-collapse: collapse;
  box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
.thead {
  background-color: rgb(0, 52, 112);
  /* border-bottom: 1px solid; */
}
.thead_title {
  padding: 10px;
  color: white;
}
.thead_title:not(:last-child) {
  border-right: 1px solid;
  border-right-color: aqua;
}
